<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Practice">
    <test name="Shopping Test">
        <classes>
            <class name="tests.shopping.ShoppingTest">
                <methods>
                    <include name="shoppingTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Search Test 1">
        <parameter name="searchQuery" value="selenium"/>
        <classes>
            <class name="tests.shopping.ShoppingTest">
                <methods>
                    <include name="parametrizedTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Search Test 2">
        <parameter name="searchQuery" value="web"/>
        <classes>
            <class name="tests.shopping.ShoppingTest">
                <methods>
                    <include name="parametrizedTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="Search Test 3">
        <parameter name="searchQuery" value="guide"/>
        <classes>
            <class name="tests.shopping.ShoppingTest">
                <methods>
                    <include name="parametrizedTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>